<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=0" />
	<meta name="author" content="" />
	<link rel="stylesheet" href="../css/main.css" type="text/css" />
		<link rel="stylesheet" type="text/css"  media="screen and (max-device-width: 800px)" href="../css/main_yi.css" />

	<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
	<script src="../js/init.js" type="text/javascript"></script>
	
	<title>minimalistica</title>
</head>
<body>
	<script>
		$(function() {
	var music = document.getElementById("music");
	$("#begin").css("display","block");
	 $("#stop").css("display","none");
	$("#begin").click(function() {
		if(music.paused) {
			music.play();
//			$("#begin").css("src","url(templates/images/musicpause.png)");
			$("#begin").css("display","none");
			$("#stop").css("display","block");
		}
	});
	$("#stop").click(function(){
		if(music.played){
			music.pause();
			$("#stop").css("display","none");
			$("#begin").css("display","block");
		}
	});
});
	</script>
	<div id="content">
		<h1>Shuangyu</h1>
		
		<ul id="menu">
			<li><a href="contract.html">Chinese</a></li>
			<li><a href="contract_en.html">English</a></li>
		</ul>
	
		<div class="post">
			<div class="details">
				<h2><a href="#">御窑厂:官窑之篮</a></h2>
				<p class="info">语音翻译：</p>
				<img src="../images/musicpause.png" id="begin" />
	            <img src="../images/musicbegin.png" id="stop" />
	            <audio src="../media/song.mp3" controls="controls" preload id="music" hidden="hidden"></audio>
			
			</div>
			<div class="body">
				<strong>简介：</strong>
				<p>“御窑厂”的历史自元延伸至清朝。作为专造宫廷用瓷的皇家窑厂，在元、明、清三个历史朝代中起身，发展，延续。蒙古族“国俗尚白，以白为吉”，于是，白色的瓷器便成为元代帝国的珍爱之品。元代世祖忽必烈在景德镇设立第一所官窑——“浮梁瓷局”，便是景德镇御窑厂的萌芽。元代景德镇成功地造出枢府瓷、青花和釉里红瓷，其成就为后来明清两代御窑厂制瓷工艺的高度发展奠定了基础。之后，朱元璋推翻蒙元帝国，建立大明王朝。明初，在原浮梁瓷局的基础上建立了御窑厂，宫廷瓷器开始注明皇帝的年款。洪武窑瓷器，土质细腻，胎体很薄，釉分青、白二色，以纯素者为佳。据记载，洪武窑有大龙缸窑、青窑、色窑、风火窑、匣窑等二十座。御窑厂烧出器型硕大的青花釉里红大盘、大碗、大罐，素朴雄浑粗豪而不失民族文化风韵，形成了洪武官窑的独特风格。</p>
			</div>
			<div class="x"></div>
		</div>
		
		<div class="col">
			<h3><a href="#">历史</a></h3>
			<p>“宣德”为明宣宗朱瞻基年号。宣德时，景德镇将洪武的龙缸窑的一半改为青窑。窑位增至五十八座，御器的烧造量一时猛增。宣窑制品是明代最为精致的瓷器，尤其是青花瓷，已达到了很高水平。史载：“宣窑器，无物不佳，小巧尤妙，此明窑极盛时也。”
宣德官窑有极为严格的管理制度。朝廷派官员督陶，负责宫廷用瓷的生产。特别是对贡余品、次品管理近乎苛刻，督陶官张善“贪酷虐下人不堪所造御用瓷，多以分馈其同列”。宣德二年（1427年），为了整肃纪纲，怒斩督陶官，官窑贡余品、次品一律集中打碎，就地掩埋，既维护了皇权的威严，也打出了官窑瓷器的至精至美。
唐英是雍正、乾隆两朝的督陶官，是我国古代杰出的陶瓷艺术家。唐英隶属汉军正白旗。1728年，他奉命兼任景德镇督陶官。唐英不仅仅是一个管理者，更是一个陶瓷制作工艺的实践者，他献身瓷艺，以此为乐，锲而不舍。为潜心研究瓷器制作工艺，他“杜门谢交游”，聚精会神，苦心竭力与工匠“同其息食者三年”，成为陶瓷艺术大师。唐英因为兼职太多分散精力，于是先后两次向乾隆皇帝提出辞呈，要辞去关税官吏这一让人欣羡的官职，而专司窑务。雍正、乾隆两朝御窑取得的辉煌成就，与唐英的个人奉献是分不开的。乾隆时期的御窑又称为“唐窑”，这就是对唐英的最大肯定。
宣德皇帝朱瞻基喜好玩蟋蟀。古典文学名著《聊斋志异》的《促织》篇中对此就有所描写。御器厂为朝廷烧造了数十种纹饰精美的蟋蟀罐。其中青花双向五爪龙纹蟋蟀罐就是宣德皇帝观看斗蟋蟀的斗盆。这位太平天子，不仅有玩蟋蟀之好，而且酷爱养鸟赏花。宣德御窑厂为朝廷烧造的花鸟虫鱼器皿，就达几十种之多。
</p>
			<p>&not; <a href="#">read more</a></p>
		</div>
		<div class="col">
			<h3><a href="#">现状</a></h3>
			<p>景德镇珠山御窑厂遗址是元、明、清三代专造宫廷用瓷的皇家窑厂，一九八三年被公布为景德镇市文物保护单位，该遗址保护范围为：东至中华路，西至东司岭，北至彭家弄，南至珠山路。其保护范围为5.43万平方米。景德镇御窑厂是我国烧造时间最长，规模最大，工艺最为精湛的管办瓷厂。这里集中了最优秀的人才，最精湛的技艺，最精细的原料，最充足资金，造出了许多精美绝伦的瓷器，成为真正的无价之宝。御窑厂在陶瓷发展史上占有特殊重要的地位。该遗址地下遗存极为丰富，已出土元代官窑瓷器和大量明代洪武、永乐、宣德、正统、成化、弘治、正德年间的各类器皿，对研究我国陶瓷发展史有着极为重要的意义。为皇家烧造御窑瓷约700余年，流传下来珍遗官窑瓷器现大多数收藏在北京、台北故宫博物院和世界各大博物馆。除此之外，还包括明清时期御窑厂窑业遗迹、窑炉遗迹、墙体、道路遗迹、古井、古树、窑业堆积遗迹、衙署建筑及其它附属建筑遗迹；另外还包括与明清御窑紧密相关的元代官窑遗迹，以及出土的明清御窑瓷器碎片及窑业工具等可移动文物；同时御窑厂遗址区周边传统街巷、民居、商铺、民窑作坊、历史文脉以及昌江等，也遗存构成的重要组成部分。</p>
			<p>&not; <a href="#">read more</a></p>
		</div>
		<div class="col last">
			<h3><a href="#">保护</a></h3>
			<p>1、“曾有人评价景德镇是个‘破’房子里藏宝贝的地方。这宝贝指的就是以景德镇御窑厂遗址为核心的地下宝藏”，祝松星称，御窑厂为明、清两代御用瓷器的专门制造场所，代表了当时中国陶瓷技艺的最高水准。“1982年，当修路工人在珠山中路发现明代古瓷片后，核心区面积为5.1万平方米的御窑厂遗址得以重现天日。			
2、据悉，相关部门即将向国家文物局递交申报文本，力争在2016年6月向世界遗产委员会递交正式申请，推动景德镇御窑厂遗址正式进入世界文化遗产申报程序。
其实，早在2010年，故宫博物院院长单霁翔就赞成景德镇御窑遗址申遗：“景德镇御窑是中国瓷业发展到巅峰时期的产物，体现了当时世界制瓷业的最高水平，在中国及世界手工业史上具有特殊的地位，应该将御窑遗址申报世界遗产加以保护。”
心有高标，方可致远。“以整体申报世界文化遗产为奋斗目标，加速推进历史文化遗产保护工作”，景德镇已经迈出了铿锵有力的步伐。
</p>
			<p>&not; <a href="#">read more</a></p>
		</div>
		
		<div id="footer">
			<p>Copyright &copy; <em>shuanyu</em> &middot; Design by Mingze</p>
		</div>	
	</div>
</body>
</html>